<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://funcblobtosql20190617081415.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d16bc3eb-c257-479b-a5cb-e570765be6b1/resourcegroups/UseCaseOne/providers/Microsoft.Web/sites/funcBlobToSQL20190617081415</ResourceId>
    <UserName>$funcBlobToSQL20190617081415</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://funcblobtosql20190617081415.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>